body {
    background-color: #732ee9;
    color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container {
    background-color: rgb(60, 132, 233);
    border:  1px solid;
    position: absolute;

    height: 700px;
    width: 900px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: .5em;
    margin-top: .5em;
    padding: 1em;
    border: 1px solid white;
    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

li:hover {
    background-color: white;
    color: black;
}
.title{
    width: 100%;
    text-align: center;
}
.left{
    height: 100%;
    width: 50%;
    float: left;
}
.right{
    height: 100%;
    width: 50%;
    float: right;
}
.detail{
    margin-left: 50px;
    margin-top: 7px;
    color: black;
    width: 70%;
    height: 500px;
    background-color: rgb(60, 132, 233);
}
img{
    width: 96%;
    height: 300px;
    border: 6px solid;
    border-radius: 5px;
}
label{
    color: black;
    border: 1px solid;
    font-size: 30px;
    margin-left: 100px;
    border-radius: 5px;
}
p{
    width: 30%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(240, 248, 240);
    border: 1px solid;
    border-radius: 15px;
    background-color: aquamarine;
    margin-left: 35%;
   
}